body{
	margin:0;
	background-color:#CCFFCC;
}

.navbar{
	margin-top:0;
	padding-top:0; 
	height:49px;
	width:100%;
}

.heading{
	text-align:left;
	height:0.1px;
	width:850px;
}

h1{
	text-align:left;
	padding-left:60px;
	padding-top:2.5px;
	color:#6666FF;
	font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size:39px;
	letter-spacing:4px;
	-webkit-text-stroke: 0.3px #6666FF;
}

ul{
	list-style-type:none;
	margin-top:0;
	overflow:hidden;
	padding-top:0;
	padding-right:2px;
	background-color:#FAC175;
	text-align:left;
	border:0.5px black solid;
}

li{
	float:right;
	font-size:22px;
	font-family:lato;
}	
	
li a{
	display:block;
	color:white;
	text-align:center;
	padding:12px 30px;
	text-decoration:none;
}

li a:hover{
	background-color:#66FF99;
	color:black;
	border:0.5px black hidden;
}

.footer {
  text-align: center;
  background-color: #C0C0C0;
  position:fixed;
  width:100%;
  bottom:0;
}

h4{
	font-family:lato;
	color:black;
	width:30%;
	float:left;
	padding-left:18%;
}

h5{
	width:30%;
	float:right;
	font-family:lato;
	padding-right:18%;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display:table;
  clear: both;
}

/* Content */
.content {
  background-image:linear-gradient(to right, rgba(255,0,0,0.25), rgba(255,0,0,0.25));
  padding:20px;
  text-align:center;
}

h3{
	font-size:28px;
}

marquee{
	background:#FFFFFF;
	border:2px solid #FF0000;
}

h2{
	font-size: 60px;
	margin-bottom:20px;
	margin-top:20px;
}

.extra h6{
	text-align:left;
}

h6{
	margin-bottom:0;
	text-align:center;
	font-size:18px;
}

p{
	text-align:left;
}























